###########
## Scala ##
###########

target/
*.class
*.log

############
## System ##
############

# OSX
.DS_Store

######################
## Tooling Specific ##
######################

.idea/
*.swp
.projections.json
.iml

#######################
## Benchmark Reports ##
#######################
bench-report.xml

#########
## IDE ##
#########

.editorconfig